#board {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.line{
    display: flex;
    flex-grow: 1;
}

.line div{
    border: 1px solid black;
    width: auto;
    height: auto;
    flex-grow: 1;
}

