/*Create a 16x16 square grids*/

#body{
    display: flex;
    flex-direction: column-reverse;
    
}

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 850px;
    min-width: 850px;
}