body {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
    align-items: center;

}

#board {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.line{
    display: flex;
    flex-grow: 1;
}

.square{
    border: 1px solid black;
    width: auto;
    height: auto;
    flex-grow: 1;
}

button {
    width: fit-content;
}

.buttonRow {
    display: flex;
    gap: 10px;
}

